# Dictonary comprehension

In [10]:
old_prices_rupees = {"biryani":150,
             "tikka":300,
             "nihari":200
            }

In [25]:
import math
math.floor(12.9) #12
math.ceil(17.1) #18
math.remainder(19,1)

0.0

In [33]:
from math import *
floor(12.1)
power = math.pow(2,2)
floor(power)

4

In [35]:
#have to change prices
import math
new_prices = {item : round(price/160,2) for item, price in old_prices_rupees.items() }
new_prices

{'biryani': 0.94, 'tikka': 1.88, 'nihari': 1.25}

In [40]:
updated_price = {item:price+1 if price < 1 else price for item, price in new_prices.items()}
updated_price

{'biryani': 1.94, 'tikka': 1.88, 'nihari': 1.25}

# Nested if

In [46]:
dic = {"river1":"sindh",
      "river2":"punjab",
      "river3":"kpk"}
dic

{'river1': 'sindh', 'river2': 'punjab', 'river3': 'kpk'}

In [62]:
for river,city in dic.items():
    print ("The " + river + " flows in " + city)

The river1 flows in sindh
The river2 flows in punjab
The river3 flows in kpk

TypeError: can only concatenate str (not "int") to str

# List of List

In [58]:
listoflist = [[11,22,33,44,55],
                [66,77,88],
               [99,0]]
listoflist[-1][-1]

0

# list of dictionaries

In [69]:
listofdic = [{"river1":"punjab",
             "river2":"sindh",
             "river3":"kpk"},
             {
                 "name":"bilal",
                 "age":21
             },
             {
              "price":10,
             },]
listofdic[-1]["price"]

10

# dictionay of dictionay

In [71]:
dicofdic = {"saylani": #outerkey
                {"smit":["web",'ds','ccna','ai'],#innerkey
                 "health":['opd','blood']
                },
            "university":#outerkey
                {"cs":["1st",'2nd'],
                "admin":["fees","timetable","exams"]
                }
           }
dicofdic

{'saylani': {'smit': ['web', 'ds', 'ccna', 'ai'], 'health': ['opd', 'blood']},
 'university': {'cs': ['1st', '2nd'], 'admin': ['fees', 'timetable', 'exams']}}

In [75]:
dicofdic["university"]["admin"]

['fees', 'timetable', 'exams']

In [78]:
"university" in dicofdic #finding outer key

True

In [79]:
"cs" in dicofdic["university"] #finding inner key

True

In [80]:
dicofdic["university"]['admin'][2]

'exams'

In [85]:
for pk,pv in dicofdic.items():
    if pk=="university":
        for uk,uv in dicofdic[pk].items():
            if uk=="admin" or uk=="cs":
                print ("exams" in uv, "1st" in uv)

False True
True False