# For Loop

In [20]:
for a in range (5) : #1234
    #indent 
    print(a, "hi" ,type(a))

0 hi <class 'int'>
1 hi <class 'int'>
2 hi <class 'int'>
3 hi <class 'int'>
4 hi <class 'int'>

In [42]:
for char in "Pakistan" :
    print(char.upper())

P
A
K
I
S
T
A
N

In [49]:
for student in ["bilal", "samad", "ahmed"]:
    print("the name of student is", (student), "Pakistani" )

the name of student is bilal Pakistani
the name of student is samad Pakistani
the name of student is ahmed Pakistani

In [44]:
for num in range (10,0,-1) : #10-1
    print(num)

10
9
8
7
6
5
4
3
2
1

In [46]:
for even in range(0,10):
    print(even%==0)

SyntaxError: invalid syntax (<ipython-input-46-4c6e1892325f>, line 2)

In [64]:
students =  ["bilal", "samad", "ahmed"]
for student in range (len(students)):
    students[student] = "(students[student]) Pakistani"
students

['(students[student]) Pakistani',
 '(students[student]) Pakistani',
 '(students[student]) Pakistani']

In [70]:
for student in students:
    students.append(students.pop()+ "Pakistani")